.tx-btn-lbg, .tx-btn-lbg-hovered, .tx-btn-lbg-pushed, .tx-btn-bg, .tx-btn-bg-hovered, .tx-btn-bg-pushed, .tx-btn-rbg, .tx-btn-rbg-hovered, .tx-btn-rbg-pushed, .tx-btn-lrbg, .tx-btn-lrbg-hovered, .tx-btn-lrbg-pushed, .tx-slt-tlbg, .tx-slt-tlbg-hovered, .tx-slt-tlbg-pushed, .tx-slt-tlbg-arrow-hovered, .tx-slt-tlbg-arrow-pushed, .tx-slt-tbg, .tx-slt-tbg-hovered, .tx-slt-tbg-pushed, .tx-slt-tbg-arrow-hovered, .tx-slt-tbg-arrow-pushed, .tx-slt-trbg, .tx-slt-trbg-hovered, .tx-slt-trbg-pushed, .tx-slt-trbg-arrow-hovered, .tx-slt-trbg-arrow-pushed, .tx-slt-blbg, .tx-slt-blbg-hovered, .tx-slt-blbg-pushed, .tx-slt-blbg-arrow-hovered, .tx-slt-blbg-arrow-pushed, .tx-slt-bbg, .tx-slt-bbg-hovered, .tx-slt-bbg-pushed, .tx-slt-bbg-arrow-hovered, .tx-slt-bbg-arrow-pushed, .tx-slt-brbg, .tx-slt-brbg-hovered, .tx-slt-brbg-pushed, .tx-slt-brbg-arrow-hovered, .tx-slt-brbg-arrow-pushed, .tx-slt-31bg, .tx-slt-31bg-hovered, .tx-slt-31bg-pushed, .tx-slt-31lbg, .tx-slt-31lbg-hovered, .tx-slt-31lbg-pushed, .tx-slt-31rbg, .tx-slt-31rbg-hovered, .tx-slt-31rbg-pushed, .tx-slt-70lbg, .tx-slt-70lbg-hovered, .tx-slt-70lbg-pushed, .tx-slt-70bg, .tx-slt-70bg-hovered, .tx-slt-70bg-pushed, .tx-slt-59bg, .tx-slt-59bg-hovered, .tx-slt-59bg-pushed, .tx-slt-42bg, .tx-slt-42bg-hovered, .tx-slt-42bg-pushed, .tx-slt-56bg, .tx-slt-56bg-hovered, .tx-slt-56bg-pushed, .tx-btn-nlrbg, .tx-btn-nlrbg-hovered, .tx-btn-nlrbg-pushed, .tx-btn-43lrbg, .tx-btn-43lrbg-hovered, .tx-btn-43lrbg-pushed, .tx-btn-52lrbg, .tx-btn-52lrbg-hovered, .tx-btn-52lrbg-pushed, .tx-btn-57lrbg, .tx-btn-57lrbg-hovered, .tx-btn-57lrbg-pushed, .tx-btn-71lrbg, .tx-btn-71lrbg-hovered, .tx-btn-71lrbg-pushed, .tx-btn-48lbg, .tx-btn-48lbg-hovered, .tx-btn-48lbg-pushed, .tx-btn-48rbg, .tx-btn-48rbg-hovered, .tx-btn-48rbg-pushed, .tx-btn-30lrbg, .tx-btn-30lrbg-hovered, .tx-btn-30lrbg-pushed, .tx-btn-46lrbg, .tx-btn-46lrbg-hovered, .tx-btn-46lrbg-pushed, .tx-btn-67lrbg, .tx-btn-67lrbg-hovered, .tx-btn-67lrbg-pushed, .tx-btn-49lbg, .tx-btn-49lbg-hovered, .tx-btn-49lbg-pushed, .tx-btn-49rbg, .tx-btn-49rbg-hovered, .tx-btn-49rbg-pushed, .tx-btn-58bg, .tx-btn-58bg-hovered, .tx-btn-58bg-pushed, .tx-btn-46bg, .tx-btn-46bg-hovered, .tx-btn-46bg-pushed {
    float: left;
    background: none;
}

.tx-toolbar-boundary {
    padding: 0px 0px 0px 5px;
    height: 26px;
    border: 1px solid #FFF;
}

.tx-toolbar {
    clear: both;
    background-color: #F8F8F8;
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-image: none;
    height: 28px;
    border-color: rgb(205, 205, 205);
}

.tx-toolbar .tx-list {
    float: left;
    border-right: 1px solid rgb(204, 204, 204);
    height: 22px;
    padding: 2px 2px 2px;
}

.tx-toolbar .tx-bar-left {
    float: left;
    margin: 0;
}

.tx-fontfamily  > a,.tx-fontsize > a,.tx-cellslinepreview a{
    float: left;
}

.tx-fontfamily span, .tx-fontsize span{
	font-weight: 700;
}

.tx-backcolor{background-color: transparent !important;}

.tx-backcolor a.tx-icon {
    background: none repeat scroll 0px 0px #FF7070;
    text-indent: 0px;
    line-height: 16px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 16px;
    margin-top: 3px;
}

.tx-forecolor{background-color: transparent !important;}

.tx-forecolor a.tx-icon {
    background: none repeat scroll 0% 0% transparent;
    text-indent: 0px;
    line-height: 22px;
    width: auto;
    padding-left: 6px;
    padding-right: 6px;
    color: red !important;
    font-weight: 700;
}

.tx-tablebackcolor a.tx-icon2 {
    background: none repeat scroll 0% 0% transparent;
}

.tx-tablebackcolor a.tx-icon2 {
    width: 18px;
    height: 18px;
}

.tx-tablebackcolor {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.tx-btn-custom-wrapper li{margin-top: 0 !important;height:24px;line-height:24px;}

.tx-switchtoggle a, .tx-switchtoggle-hovered a, .tx-switchtoggle-pushed a{
    width: 48px !important;
    margin: 0px;
}

.tx-colorpallete ul.tx-pallete-text-list li a {
    text-decoration: none;
    padding: 0px;
    margin-left: 4px;
    font-size: 12px;
    line-height: 16px;
}

.tx-cellslinecolor{background-color: transparent !important;}

.tx-tabletemplate-menu {
    left: -250px;
    width: 312px;
}

a.tx-arrow {
    float: left;
    display: block;
    width: 10px;
    height: 21px;
    font-size: 0px;
    line-height: 0;
    text-indent: -1000px;
    overflow: hidden;
    background: url("../../../images/icon/editor/btn_cb_spread.gif") no-repeat scroll -1px 1px transparent;
}

.tx-btn-bg-hovered,.tx-btn-lbg-hovered,.tx-btn-rbg-hovered,.tx-slt-tbg-hovered{
	background-color: #e6eef7;
}

.tx-btn-bg-pushed,.tx-btn-lbg-pushed,.tx-btn-rbg-pushed,.tx-slt-tbg-pushed{
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: #d3e3f1;
	-webkit-box-shadow: inset 0px 0px 4px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 4px -3px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 4px -3px rgba(0,0,0,0.75);
}

.tx-advanced{margin-top:0;}

.tx-advanced a.tx-icon{
    background-repeat: no-repeat;
	background-position: -49px -150px;
	background-color: transparent;
	background-image: url("../../../images/icon/editor/skin/06/tx_icon_20130320.gif");
}

.tx-advanced.tx-btn-nlrbg-pushed {
    margin-top: 0px;
}

.tx-toolbar-basic-open .tx-advanced a.tx-icon{background-position: -68px -150px;}

.tx-slt-70bg a span, .tx-slt-70bg-hovered a span, .tx-slt-70bg-pushed a span {
    padding: 2px 2px 3px 2px;
}

.tx-slt-42bg a span, .tx-slt-42bg-hovered a span, .tx-slt-42bg-pushed a span {
    padding: 2px 2px 3px 2px;
}

.tx-slt-70lbg a span, .tx-slt-70lbg-hovered a span, .tx-slt-70lbg-pushed a span {
    padding: 2px 2px 3px 2px;
}

.tx-toolbar .tx-nav-opt .tx-list{padding-top: 2px;}

.tx-switchtoggle a{
	background-position: 0px -82px;
}
.tx-switchtoggle-pushed a{
	background-position: -58px -82px;
}
.tx-switchtoggle-hovered a{
	background-position: 0px -105px;
}

.tx-cellslinepreview a:first-child{width: 50px;}

.tx-tableedit-title {
	background: none repeat scroll 0% 0% transparent;
	width: 38px;
	height: 22px;
	line-height: 22px;
}